/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Styles for the Default page (home)*/
body {
    background: linear-gradient(to right, rgb(66, 188, 244), rgb(65, 146, 244));
}


#inputContainer {
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 25%;
}

#MainContent_userInput {
    width: 80%;
    height: 40px;
    font-size: 30px;
    padding-left: 5%;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#MainContent_userInput:focus {
    border:none;
}

#MainContent_twitterOutput 
{
    width:90%;
    height:400px;
    margin:20px;
}

#MainContent_userSubmit {
    position: absolute;
    z-index: 30;
    width: 20%;
    height: 40px;
    border: none;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: -5px;
    padding-left: 15px;
}

#MainContent_userSubmit span {
    font-size:30px;
    color:black;
}

#MainContent_userSubmit span:hover {
        color: gray;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}


