body {
    background-color: white;
}

.row{
    margin-right:0;
    margin-left:0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#submission {
    position: relative;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    top: 50%;
}

#userInput {
    width: 80%;
    height: 40px;
    font-size: 30px;
    padding-left: 5%;
    border: 1px solid gray;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#userInput:focus {
    border:none;
}

#twitterOutput 
{
    width:100%;
    height:400px;
    margin-top:20px;
    display:none;
}

#userSubmit {
    position: absolute;
    z-index: 30;
    width: 20%;
    height: 40px;
    border: 1px solid gray;
    border-left:none;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: -5px;
    padding-left: 15px;
}

#userSubmit span {
    font-size:30px;
    color:black;
}

#userSubmit span:hover {
        color: gray;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

text.mono {
    fill: #aaa;
}

text {
    font-family: Consolas, courier;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}

.barChart{
    background-color:white;
    padding:3px;
}

.main text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: black;
}


.bar--positive {
    fill: steelblue;
}

.bar--negative {
    fill: darkorange;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.pieChart svg, .heatMap svg, .sentimentChart svg, .barChart svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform-origin: 50% 50% 0px;
}

.barChart, .pieChart, .heatMap, .sentimentChart {
    display: none;
    background-color: white;
    position:relative;
    padding-top: 25px;
    padding-bottom: 25px;
}

.error {

color:red;
display:none;
}

.barChart .bar {
    fill: steelblue;
}

.barChart .axis text {
    font: 10px sans-serif;
}

.barChart .axis path,
.barChart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.barChart .x.axis path {
    display: none;
}
.pieChart h3, .heatMap h3, .sentimentChart h3, .barChart h3 {
    text-align: center;
}