body {
    padding-bottom: 20px;
    background: linear-gradient(to right, rgb(66, 188, 244), rgb(65, 146, 244));
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#inputContainer {
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    margin-top: 25%;
}

#userInput {
    width: 80%;
    height: 40px;
    font-size: 30px;
    padding-left: 5%;
    border: none;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#userInput:focus {
    border:none;
}

#twitterOutput 
{
    width:100%;
    height:400px;
    margin-top:20px;
}

#userSubmit {
    position: absolute;
    z-index: 30;
    width: 20%;
    height: 40px;
    border: none;
    background-color: white;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: -5px;
    padding-left: 15px;
}

#userSubmit span {
    font-size:30px;
    color:black;
}

#userSubmit span:hover {
        color: gray;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.chart{
    background-color:white;
    padding:3px;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 10px;
    margin-top: 3px;
    color: white;
}

