body {
background-color: white;
}

.row {
margin-right: 0;
margin-left: 0;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */


#intro {
text-align: center;
padding-top: 10%;
padding-bottom: 10%;
margin-top: 0%;
margin-left: auto;
display: block;
margin-right: auto;
float: none;
}

#intro h1 {
margin: 0;
}

#intro p {
padding-top: 20px;
}

#MainContent_ctl00 {
position: relative;
max-width: 30%;
margin-left: auto;
margin-right: auto;
border: none;
}

#userInput {
width: 80%;
height: 40px;
padding-left: 5%;
border: 2px solid #46b8da;
border-radius: 4px;
}


#userSubmit {
position: absolute;
z-index: 30;
height: 40px;
margin-left: -5px;
padding-left: 15px;
}

#userSubmit span {
font-size: 30px;
color: black;
}

#userSubmit span:hover {
color: gray;
}

rect.bordered {
stroke: #E6E6E6;
stroke-width: 2px;
}

text.mono {
fill: #aaa;
font-size:1.1vw;
}

text {
font-family: Consolas, courier;
}

text.axis-workweek {
fill: #000;
}

text.axis-worktime {
fill: #000;
}

.barChart {
background-color: white;
padding: 3px;
}

.main text {
font: 10px sans-serif;
}

.axis line, .axis path {
shape-rendering: crispEdges;
stroke: black;
fill: none;
}

circle {
fill: black;
}


.bar--positive {
fill: steelblue;
}

.bar--negative {
fill: darkorange;
}

.axis text {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.pieChart svg, .sentimentChart svg, .barChart svg {
    margin-bottom:20px;
}

svg {
margin: 0 auto;
display: block;
}


.innerHeatMap, innerHeatMap2 {
display: flex;
height: 45%;
align-items:center;
}

.barChart, .pieChart, .heatMap, .sentimentChart {
display: none;
background-color: white;
position: relative;
padding-top:20px;
}
.page .col-md-6 {
    padding-left:0px;
    padding-right:0px;
}

.error {
    color: red;
    display: none;
    text-align: center;
    margin-top: 20px;
}

.innerBarChart .bar, .innerBarChart2 .bar {
fill: steelblue;
}

.barChart .axis text {
font: 10px sans-serif;
}

.barChart .axis path,
.barChart .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.barChart .x.axis path {
display: none;
}

.pieChart h3, .heatMap h3, .sentimentChart h3, .barChart h3 {
text-align: center;
font-size:16px;
}


.compare {
text-align: center;
}

.compareButtons {
text-align: center;
}


@media screen and (max-width: 768px) {

.innerPieChart, .innerPieChart2 {
height: 100%;
}
}

.innerPieChart, .innerPieChart2 {
height: 50%;
}



/*SPINNER*/

.lds-ring {
display: block;
width: 64px;
height: 64px;
margin: 0 auto;
}

.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 51px;
height: 51px;
margin: 6px;
border: 6px solid #000;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
0% {
transform: rotate(0deg);
}

100% {
transform: rotate(360deg);
}
}

#spinnerCont {
display: none;
}

/**TOOLTIP*/
.tooltip {
    position: relative;
    opacity:1;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 220px;
        background-color: #808080;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 20px;
        position: absolute;
        z-index: 1;
        top: -65px;
        left: 115%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent #808080 transparent transparent;
    }


.active {
    background-color: #5cb85c;
}

.popup {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 1000000;
    border-right: 5px solid #46b8da;
    border-left: none;
    display: none;
    align-items: center;
    height: 100%;
    min-width: 50px;
    transition: min-width 1s ease-out;
}


#popup-contents {
    padding: 15px;
}

#popupButton {
    color: #fff;
    -moz-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    -webkit-transform: rotate(-90deg) !important;
    position: absolute;
    left: -30px;
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

#name {
margin-bottom:0px;
}

#screenName {
    color: #8a8a8a;
}

.info {
    display: inline-block;
    margin-right:10px;
}
.infoTitle{
    font-weight:bold;
    margin-bottom:2px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}